@import "variables";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/mixins";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/reset";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/type";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/scaffolding";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/grid";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/layouts";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/navs";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/navbar";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/responsive-navbar";
@import "../vendor/jlong/sass-twitter-bootstrap/lib/buttons";

body > .container {
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
}

.photo {
    float: left;
    width: 400px;
}

.site-list .btn {
    display: block;
    width: 400px;
    margin-left: 400px;
    margin-bottom: 10px;
}

h1 {
    font-style: italic;
    color: #666;
}